services:
  traefik:
    image: traefik:v3.3.3
    deploy:
        update_config:
            parallelism: 2
        restart_policy:
            condition: any
            delay: 30s
            max_attempts: 60
        mode: replicated
        replicas: 1
        endpoint_mode: dnsrr
        placement:
            constraints:
                - node.role == manager
        labels:
            - traefik.enable=true
            - traefik.http.routers.traefik-public.rule=Host(`test-traefik.twir.app`)
            - traefik.http.routers.traefik-public.service=api@internal
            # - traefik.http.routers.traefik-public.middlewares=admin-auth
            - traefik.http.services.traefik-public.loadbalancer.server.port=8080
    volumes:
    # Add Docker as a mounted volume, so that Traefik can read the labels of other services
        - /var/run/docker.sock:/var/run/docker.sock:ro
    # Mount the volume to store the certificates
        - traefik-public-certificates:/certificates
    command:
        - --providers.docker
        - --providers.docker.exposedbydefault=false
        
        - --providers.swarm
        - --providers.swarm.endpoint=unix:///var/run/docker.sock
        - --providers.swarm.exposedByDefault=false
        - --providers.swarm.refreshSeconds=5
        
        - --entrypoints.http.address=:80
        # - --entrypoints.web.http.redirections.entrypoint.to=https
        # - --entrypoints.web.http.redirections.entrypoint.scheme=https
        - --entrypoints.https.address=:443
        - --certificatesresolvers.le.acme.email=letsencrypt@twir.app
        - --certificatesresolvers.le.acme.storage=/certificates/acme.json
        - --certificatesresolvers.le.acme.tlschallenge=true
        - --accesslog
        - --log
        - --api
        - --tracing=true
        # - --experimental.plugins.staticresponse.modulename=github.com/jdel/staticresponse
        # - --experimental.plugins.staticresponse.version=v0.0.1
    networks:
        - traefik-public
        - cloudflared
  
volumes:
    traefik-public-certificates:

networks:
    traefik-public:
        external: true
    cloudflared:
        external: true
